<div class = "container">
    <div class = "row justify-content-center">
        <div class = "col-10">
            <%= render 'articles/error', obj: @article %>
            <%= form_with(model: @article, class: "shadow p-3 mb-4 bg-white rounded", local: true) do |f| %>

                <div class = "form-group">
                    <%= f.label :title, class: "col-form-label" %>
                    <div>
                        <%= f.text_field :title, class: "form-control", placeholder: "Enter title of article" %>
                    </div>
                </div>

                <div class = "form-group">
                    <%= f.label :description, class: "col-form-label" %>
                    <div>
                        <%= f.text_area :description, class: "form-control", rows: "8", placeholder: "Enter description of article" %>
                    </div>
                </div>

                <div class = "form-group">
                    <%= f.label :category, class: "col-form-label" %>
                    <div>
                        <%= f.collection_select :category_ids, Category.all, :id, :name, 
                        {prompt: "Select a category (Can be empty or more than one)"}, {multiple: true, size: 4, class: "custom-select"} %>
                    </div>
                </div>

                <div class = "form-group text-center">
                    <%= f.submit class: "btn btn-outline-info btn-lg" %></br>
                </div>


            <% end %>

            <div class = "form-group text-center mb-5">
                <%= link_to 'Back to Articles Listing', articles_path, class: "btn btn-outline-dark" %>
            </div>
        </div>
    </div>
</div>